@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-bg-color: #424756;
    --primary-color: #000;
    --secondary-color: #e1d798;
    --progress-color: #6ea171;
    --primary-border-color: #675645;
}

body {
    background-color: var(--primary-bg-color);
    color: #ffffff;
}

.personal-units-losses {
    border-bottom: 3px solid var(--primary-border-color);
    vertical-align: top;
}

.personal-units-losses-total {
    color: var(--secondary-color)
}

.personal-units-losses-progress {
    line-height: 29px;
    color: var(--progress-color);
    vertical-align: top;
}

.military-units-losses {
    border-bottom: 1px solid var(--primary-border-color);
    vertical-align: top;
}

.military-units-losses-progress {
    color: var(--progress-color);
    vertical-align: top;
}
